
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    string loai = ViewBag.loai;
}
<div class="sidebar-menu">
    @Html.Partial("LeftMenu");
</div>
<div class="main-content">
    <button type="button" class="btn btn-success" hotkey="F2" onclick="return ThemDichVu('');">
        <i class="glyphicon glyphicon-plus"></i> Thêm mới dịch vụ
    </button>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            <div id="dsDichVu"
                 class="slickgrid-word-wrap">
            </div>
        </div>
    </div>
</div>

<form>
    <div class="modal bootstrap-dialog type-primary fade size-normal in" id="myModal" role="dialog" aria-labelledby="Thông tin chức vụ" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Thông tin dịch vụ</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-2 col-xs-12 col-lg-2">
                                Tên dịch vụ
                            </label>
                            <div class="controls col-md-9 col-sm-9 col-md-9 col-xs-12 ">
                                <input class="input-md  textinput textInput form-control" id="Ten" autofocus placeholder="Thông tin tên chức vụ" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-md-2 col-lg-2 col-xs-12 ">
                                Giá
                            </label>
                            <div class="controls col-md-9 col-sm-9 col-md-9 col-xs-12 ">
                                <input class="input-md  textinput textInput form-control" id="Gia" datatype="Money" dec="0"
                                       placeholder="Giá tiền trên dịch vụ" type="text" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                Ngày áp dụng
                            </label>
                            <div class="controls col-md-9 col-sm-9 col-md-10 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <input class="input-md  textinput textInput form-control" id="Gia" datatype="Date" dec="0"
                                               placeholder="Ngày áp dụng dịch vụ" type="text" />
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <div class="form-group"> 
                                            <select class="form-control" id="lsDichvu"> 
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveFile" class="btn btn-primary"><i class="fa fa-plus  "></i> Lưu lại</button>
                    <button type="button" id="refesh" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> Lưu lại và đóng</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="glyphicon glyphicon-share-alt"></i> Đóng lại
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(".navbar-collapse .navbar-nav > li").setActive(1);
</script>
<script type="text/javascript">
    $(".sidebar-menu .menus > .item").setActive(8);
</script>

<script type="text/javascript">
    var b_so_id = "";
    var data = {};
    var gridTG;

    var columns = [
        { id: "Ten", name: "Tên dịch vụ", field: "Ten", width: 690 },
        { id: "gia", name: "Tên tôn giáo", field: "Gia", width: 200 },
        { id: "thaotac", name: "Thao tác", width: 200, formatter: editRow }
    ];

    $(document).ready(function () {
        try {
            Emcsoft.Msg.wait();

            var config = {
                pageSize: 13,
                paging: "node",
                emtyRow: false,
                page: {
                    maxNode: 4,
                    showInfo: true
                }
            };

            gridTG = new gridView("#dsDichVu", columns);
            gridTG.config = config;

            LoadDICHVU();
            Emcsoft.Msg.stopWait();
        } catch (e) {
            Emcsoft.Msg.stopWait();
        }
    });


    function editRow(row, cell, value, columnDef, dataContext) {
        var html = "<div onmouseover=\"this.style.cursor='pointer' \"  style='width: 99%; padding-left:3px; text-align:center;'><div class='col-sm-6 col-md-6 col-lg-6'>";
        html += " <span class='glyphicon glyphicon-remove' onclick='XoaDanToc(\"" + dataContext.Ma + "\")'><span> </div> ";
        html += " <div class='col-sm-6 col-md-6 col-lg-6'  style=\"padding-left: 5px !important; \"> ";
        html += "   <span class='fa fa-pencil-square-o  ' onclick='ThemDichVu(\"" + dataContext.Ma + "\")'><span></div ></div > ";
        return value == "" ? "" : html;
    }

    function ThemDichVu(id) {
        b_so_id = id;
        var item = $.grep(data, function (val, index) {
            return val.Ma == id;
        });
        if (item.length > 0) {
            $("#Ten").val(item[0].Ten);
        }
        else {
            $("#Ten").val("");
            $("#Ten").focus();
            b_so_id = "";
        }

        $("#myModal").modal('show');
        $("button[hotkey], input[hotkey]").attr("disableKey", "C");
    }

    function LoadThongtinLS(b_ma) {
        if (b_ma == "") {
            return false;
        }

        $.getJSON("@Core.Constants.Config.GetBaseUrl()/api/Danhmuc/DM_DICHVU_LS_LKE", {
            "": b_ma
        }).done(function (a_data) {
            debugger;
            if (CheckError(a_data)) {
                ShowError(a_data);
                return false;
            }

            dataBinDrop("lsDichvu", a_data);

        }).fail(function (a, b) {
            Emcsoft.Msg.show("Có lỗi khi xem thông tin: Chi tiết lỗi " + a.responseJSON.Message);
        });
    }

    function LoadDICHVU() {
        $.getJSON("@Core.Constants.Config.GetBaseUrl()/api/Danhmuc/DM_DICHVU_LKE").done(function (a_data) {
            if (CheckError(a_data)) {
                ShowError(a_data);
                return false;
            }

            data = a_data;

            gridTG.data = a_data;
            gridTG.init();

        }).fail(function (a, b) {
            Emcsoft.Msg.show("Có lỗi khi xem thông tin: Chi tiết lỗi " + a.responseJSON.Message);
        });

    }


    $("#refesh").click(function () {
        LuuChucVu("D");
    });
    function LuuChucVu(loai) {
        if ($("#Ten").val() == "") {
            Msg.Warning("Chưa nhập tên chức vụ");
            return false;
        }
        Emcsoft.Msg.wait();
        $.post("@Core.Constants.Config.GetBaseUrl()/api/Danhmuc/DM_DICHVU_NH", { Ma: b_so_id, Ten: $("#Ten").val() })
            .done(function (b_kq) {
                try {
                    if (CheckError(b_kq)) {
                        ShowError(b_kq);
                        return;
                    }

                    b_so_id = b_kq.so_id;
                    binDataGrid(b_kq.dmdt);
                    Emcsoft.Msg.stopWait();

                    if (loai == "D")
                        $("#myModal").modal('hide');
                    else {
                        $("#txtTenHinhthuc").val("");
                        b_so_id = "";
                    }
                } catch (e) {
                    Emcsoft.Msg.stopWait();
                }
            })
            .fail(function (a, b) {
                Emcsoft.Msg.show("Có lỗi khi lưu thông tin: Chi tiết lỗi " + a.responseJSON.Message);
            });
    }

    function binDataGrid(b_kq) {
        data = b_kq;
        gridTG.dataBin(b_kq);

        if (!Emcsoft.Common.isNullOrEmty(b_so_id)) {
            var indexRow = gridTG.getRowIndexFilter(["Ma"], [b_so_id], ["=="]);
            if (indexRow >= 0) {
                gridTG.setActiveRow(indexRow);
            }
        }
    }

    $("#saveFile").click(function () {
        LuuChucVu("M");
    });

    function XoaDanToc(so_id) {
        if (Emcsoft.Common.isNullOrEmty(so_id)) {
            Emcsoft.Msg.show("Chưa chọn chức vụ để xóa");
            return;
        }
        BootstrapDialog.confirm('Bạn có chắc chắn xóa không ?', function (result) {
            if (result) {
                var url = "@Core.Constants.Config.GetBaseUrl()/api/Danhmuc/DM_DICHVU_XOA";
                $.post(url, {
                    "": so_id
                })
                    .done(function (b_kq) {
                        try {
                            Emcsoft.Msg.wait();
                            binDataGrid(b_kq);
                            Emcsoft.Msg.stopWait();
                            b_so_id = "";
                        } catch (e) {
                            Emcsoft.Msg.stopWait();
                        }
                    })
                    .fail(function (a, b) {
                        Emcsoft.Msg.show("Có lỗi khi xóa thông tin: Chi tiết lỗi " + a.responseJSON.Message);
                    });
            }
        });
    }
</script>
